.buttonstack {
  display: inline-block;
  position: relative;
}
.glcolor {
  color: #f26522;
  text-shadow: 0 0 30px #f26522;
}
.bcolor {
  color: #f26522;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.fsize90 {
  font-size: 90%;
}
.fsize100 {
  font-size: 100%;
}
.fsize110 {
  font-size: 110%;
}
.mleft10 {
  margin-left: 10px;
}
.mright10 {
  margin-right: 10px;
}
.mtop10 {
  margin-top: 10px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.m10 {
  margin: 10px;
}
.mleft20 {
  margin-left: 20px;
}
.mright20 {
  margin-right: 20px;
}
.mtop20 {
  margin-top: 20px;
}
.mbottom20 {
  margin-bottom: 20px;
}
.m20 {
  margin: 20px;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
html {
  font-family: 'Open Sans', sans-serif;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #f26522;
  -webkit-transition: color 0.5s ease, text-shadow 0.5s ease, background 0.5s ease;
  -moz-transition: color 0.5s ease, text-shadow 0.5s ease, background 0.5s ease;
  -ms-transition: color 0.5s ease, text-shadow 0.5s ease, background 0.5s ease;
  -o-transition: color 0.5s ease, text-shadow 0.5s ease, background 0.5s ease;
  transition: color 0.5s ease, text-shadow 0.5s ease, background 0.5s ease;
}
a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
p {
  font-size: 16px;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7;
  margin-bottom: 1em;
  position: relative;
  z-index: 10;
}
*::selection,
input::selection,
textarea::selection {
  background: rgba(242, 101, 34, 0.3);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}
h1 {
  font-size: 325%;
  margin: 0.3em 0;
  text-shadow: 0 0 30px #fff;
}
h2 {
  font-size: 275%;
  margin: 0.3em 0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
h3 {
  font-size: 200%;
  margin: 0.3em 0;
}
h4 {
  font-size: 175%;
  margin: 0.3em 0;
}
blockquote {
  font-style: italic;
  padding: 0 40px;
  border-left: 2px solid #f26522;
  margin: 1em 0;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 6px 20px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
textarea {
  padding: 15px 20px;
}
input:focus {
  outline: none;
  border: 2px solid #f26522;
}
textarea:focus {
  outline: none;
  border: 2px solid #f26522;
}
section {
  margin: 1em 0;
  font-size: 16px;
}
*::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
*:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
*::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
*:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 6px 30px;
  border: 2px solid rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}
button:hover {
  border-color: #f26522;
  color: #f26522;
  box-shadow: 0 0 2px #f26522, inset 0 0 2px #f26522;
}
button:active {
  opacity: 0.6;
  outline: none;
}
.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  z-index: 60;
  padding: 8px;
  display: inline-block;
  left: 0;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.input-icon i.active {
  border-color: #f26522;
  color: #f26522;
  opacity: 1;
}
.input-icon input {
  position: relative;
  z-index: 50;
  padding-left: 50px;
  width: 100%;
  font-size: 90%;
}
.input-icon input:focus {
  border-color: transparent;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-button {
  height: 15px;
  opacity: 0;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.mobile {
  visibility: hidden;
  display: none;
}
.minibutton {
  position: relative;
  z-index: 100;
  width: 36px;
  height: 36px;
  display: inline-block;
  text-shadow: none;
}
.minibutton i {
  float: left;
  cursor: pointer;
  line-height: 36px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.minibutton:hover {
  text-shadow: none;
}
.minibutton:hover i {
  border-color: #f26522;
  color: #f26522;
  box-shadow: 0 0 2px #f26522, inset 0 0 2px #f26522;
}
.minibutton-big {
  height: 50px;
  width: 50px;
}
.minibutton-big i {
  font-size: 30px;
  line-height: 49px;
  border-width: 3px;
}
.minibutton.shine i {
  border-color: #f26522;
  color: #f26522;
  box-shadow: none;
}
.minibutton.shine:hover i {
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 4px #fff, inset 0 0 4px #fff;
  text-shadow: 0 0 3px #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: #fff;
  background: #505050;
}
#background {
  position: fixed;
  z-index: 1;
  background: url("../img/bg/aqua-d5af8943.png") 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#texture {
  position: fixed;
  z-index: 10;
  background: url("../img/bg/texture.png") repeat;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.fullcontent {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: table;
}
.fullcontent .loader {
  margin-top: -12px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 0;
  color: #f26522;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.fullcontent .loader .label {
  display: inline-block;
}
.fullcontent .loader .label .spin {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  border: 2px solid #f26522;
  border-radius: 50%;
  border-color: #f26522 transparent #f26522 transparent;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.fullcontent .loader.active {
  opacity: 1;
  z-index: 500;
}
.menuwrapper {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding-right: 20px;
  position: relative;
}
.mainmenu {
  position: relative;
  float: right;
  z-index: 20;
  left: 0;
  width: 440px;
  height: 440px;
}
.mainmenu .menuitem {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: -30px 0 0 -40px;
  z-index: 100;
  text-align: center;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.mainmenu .menuitem i {
  color: #fff;
  opacity: 0.4;
  font-size: 30px;
  -webkit-transition: color 0.8s ease, text-shadow 0.8s ease, opacity 0.8s ease;
  -moz-transition: color 0.8s ease, text-shadow 0.8s ease, opacity 0.8s ease;
  -ms-transition: color 0.8s ease, text-shadow 0.8s ease, opacity 0.8s ease;
  -o-transition: color 0.8s ease, text-shadow 0.8s ease, opacity 0.8s ease;
  transition: color 0.8s ease, text-shadow 0.8s ease, opacity 0.8s ease;
}
.mainmenu .menuitem .menu-title {
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: color 1s ease, text-shadow 1s ease, opacity 1s ease;
  -moz-transition: color 1s ease, text-shadow 1s ease, opacity 1s ease;
  -ms-transition: color 1s ease, text-shadow 1s ease, opacity 1s ease;
  -o-transition: color 1s ease, text-shadow 1s ease, opacity 1s ease;
  transition: color 1s ease, text-shadow 1s ease, opacity 1s ease;
}
.mainmenu .menuitem:hover i {
  opacity: 1;
  text-shadow: 0 0 60px rgba(255, 255, 255, 0.8);
}
.mainmenu .menuitem:hover .menu-title {
  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}
.mainmenu .menuitem.active i {
  opacity: 1;
  color: #f26522;
  text-shadow: 0 0 60px #f26522;
}
.mainmenu .menuitem.active .menu-title {
  opacity: 1;
  color: #f26522;
  text-shadow: 0 0 30px #f26522;
}
.mainmenu .menucenter {
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -80px;
  width: 160px;
  height: 160px;
}
.mainmenu .menucenter .logo-container {
  position: relative;
  width: 160px;
  height: 160px;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.mainmenu .menucenter .logo-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mainmenu .menucenter .logo-container .logo {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  top: 50%;
  left: 50%;
  opacity: 1;
}
.mainmenu .menucenter .logo-container .photo {
  opacity: 0;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.mainmenu .menucenter .logo-container:hover .logo {
  opacity: 0;
}
.mainmenu .menucenter .logo-container:hover .photo {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 0 0 2px #f26522;
}
.mainmenu #linecontainer {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.mainmenu #linecontainer .linewrapper {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.mainmenu #linecontainer .linewrapper .overwrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mainmenu #linecontainer .linewrapper .overwrapper .colorlines {
  position: absolute;
  width: 436px;
  height: 436px;
  border: 2px solid #f26522;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(242, 101, 34, 0.1);
}
.mainmenu #linecontainer .linewrapper .overwrapper .colorlines .small {
  width: 160px;
  height: 160px;
  left: 50%;
  top: 50%;
  margin: -82px 0 0 -82px;
  box-shadow: 0 0 10px rgba(242, 101, 34, 0.25);
}
.bigpage .mainmenu {
  float: left;
  width: auto;
  min-width: 240px;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.bigpage .menucenter {
  position: relative;
  left: auto;
  top: auto;
  margin: 0;
  width: auto;
  height: auto;
  text-align: center;
  display: none;
}
.bigpage .menucenter .logo-container {
  width: 80px;
  height: 80px;
  display: inline-block;
}
.bigpage .menucenter .logo-container .logo {
  left: 0;
  top: 0;
  margin: 0;
}
.bigpage .menuitem {
  position: relative;
  left: auto !important;
  top: auto !important;
  float: left;
  display: block;
  margin: 0;
  padding: 15px 30px;
  clear: both;
  width: 100%;
  height: auto;
  border-left: 0px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
}
.bigpage .menuitem i {
  float: left;
  width: 30px;
}
.bigpage .menuitem .menu-title {
  float: left;
  margin-left: 20px;
  opacity: 0.4;
}
.bigpage .menuitem:hover {
  border-left: 3px solid rgba(255, 255, 255, 0.6);
}
.bigpage .menuitem:hover .menu-title {
  opacity: 1;
}
.bigpage .menuitem.active {
  border-left: 3px solid #f26522;
}
.bigpage .menuitem.active .menu-title {
  opacity: 1;
}
.bigpage #linecontainer {
  display: none;
}
.bigpage .page {
  width: 100%;
}
.bigpage .page .table .table-cell {
  padding: 40px;
}
.bigpage .page .container {
  max-width: none;
  width: 100%;
}
.bigpage .page-limit {
  max-width: 1000px;
}
.page {
  height: 100%;
  vertical-align: middle;
  position: relative;
  display: table-cell;
  width: 60%;
  z-index: 50;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.page .wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}
.page .wrapper .table {
  display: table;
  height: 99%;
  width: 100%;
}
.page .wrapper .table .table-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 40px 80px;
}
.page .wrapper.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.page .wrapper.active .skill .bar .bar-container .progress {
  left: 0;
}
.page .container {
  float: left;
  display: inline-block;
  color: #fff;
  min-width: 400px;
  max-width: 800px;
  width: 100%;
  position: relative;
}
.section {
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}
.skill {
  position: relative;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 500px;
  clear: both;
  float: left;
  display: table;
}
.skill .title {
  text-transform: uppercase;
  font-size: 120%;
  width: 40%;
  text-align: right;
  padding-right: 20px;
  display: table-cell;
}
.skill .bar {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: 60%;
}
.skill .bar .bar-container {
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  position: relative;
}
.skill .bar .bar-container .progress {
  position: absolute;
  height: 2px;
  background: #f26522;
  left: -80%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.contacts .input-icon {
  width: 49%;
  float: left;
}
.contacts .input-icon:first-child {
  margin-right: 2%;
}
.contacts textarea {
  margin-top: 10px;
  width: 100%;
  height: 175px;
  font-size: 90%;
}
.contacts a.social {
  float: left;
  margin: 0 10px 0 0;
}
.portfolio {
  position: relative;
}
.portfolio .navigation {
  position: absolute;
  top: 50%;
  margin-top: -24px;
}
.portfolio .navigation i {
  font-size: 26px;
}
.portfolio .nleft {
  left: -60px;
}
.portfolio .nright {
  right: -60px;
}
.portfolio .filter-links {
  margin-bottom: 30px;
}
.portfolio a.filter {
  font-size: 120%;
  margin: 5px;
  padding: 4px 12px;
  border-radius: 4px;
}
.portfolio a.filter-active {
  background-color: #f26522;
  color: #fff;
}
.portfolio .all-items {
  height: 100%;
  min-height: 500px;
  width: 100%;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.portfolio .all-items .item {
  max-width: 360px;
  min-width: 140px;
  width: 24%;
  position: relative;
  z-index: 100;
  display: none;
  font-size: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  text-shadow: none;
  overflow: hidden;
}
.portfolio .all-items .item .overlay {
  opacity: 0;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 150;
  background: url("../img/bg/texture.png") repeat;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio .all-items .item .buttonstack {
  margin-top: -28px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 200;
}
.portfolio .all-items .item .minibutton {
  display: inline-block;
  margin: 10px;
}
.portfolio .all-items .item .minibutton i {
  opacity: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.portfolio .all-items .item .img-wrapper {
  overflow: hidden;
  margin: 3px;
  position: relative;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.portfolio .all-items .item img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 110;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio .all-items .item:hover .overlay {
  opacity: 1;
}
.portfolio .all-items .item:hover .minibutton i {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.portfolio .all-items .item:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio .all-items .large {
  max-width: 600px;
  min-width: 400px;
  width: 48%;
}
.portfolio .all-items .portfolio-item {
  display: inline-block;
}
.portfolio-single img {
  margin: 1em 0;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  max-width: 100%;
}
.post {
  float: left;
  width: 100%;
}
.post h3 {
  font-weight: 400;
}
.post .meta {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  font-size: 120%;
}
.post .tags {
  color: #f26522;
}
.post .post-body {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
@media only screen and (max-width: 1440px) {
  .page .container {
    width: 90%;
  }
  .portfolio .all-items .item {
    width: 33%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 1280px) {
  .page .container {
    width: 100%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2) {
  #background {
    background: url("../img/bg/photo_bg_%402X.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  #texture {
    background: url("../img/bg/texture_%402X.png") repeat;
  }
}
