.buttonstack {
  display: inline-block;
  position: relative;
}
.glcolor {
  color: #f26522;
  text-shadow: 0 0 30px #f26522;
}
.bcolor {
  color: #f26522;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.fsize90 {
  font-size: 90%;
}
.fsize100 {
  font-size: 100%;
}
.fsize110 {
  font-size: 110%;
}
.mleft10 {
  margin-left: 10px;
}
.mright10 {
  margin-right: 10px;
}
.mtop10 {
  margin-top: 10px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.m10 {
  margin: 10px;
}
.mleft20 {
  margin-left: 20px;
}
.mright20 {
  margin-right: 20px;
}
.mtop20 {
  margin-top: 20px;
}
.mbottom20 {
  margin-bottom: 20px;
}
.m20 {
  margin: 20px;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
a {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
h1 {
  font-size: 42px;
  text-align: center;
}
h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}
h4 {
  font-size: 24px;
}
input,
textarea {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
button {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.input-icon {
  position: relative;
}
.input-icon i {
  display: none;
}
.input-icon input {
  padding-left: 20px;
}
.input-icon input:focus {
  border-color: #f26522;
}
.mobile {
  visibility: visible;
  display: block;
}
.minibutton i {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
body {
  background: url("../img/bg/mobile.png") repeat;
  position: relative;
  overflow: visible;
}
#background {
  background: none;
  display: none;
}
#texture {
  display: none;
}
.fullcontent {
  display: inline-block;
  max-width: 100%;
}
.fullcontent .menuwrapper {
  display: inline-block;
  height: auto;
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.fullcontent .mainmenu {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 20px 0 0 0;
}
.fullcontent .mainmenu .menu-items {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.fullcontent .mainmenu .menu-items .menuitem {
  left: 0 !important;
  top: 0 !important;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 90%;
  float: none;
  clear: none;
  vertical-align: middle;
  width: auto;
  border: none;
  margin: 0 10px;
  padding: 5px;
  z-index: 100;
  text-align: center;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.fullcontent .mainmenu .menu-items .menuitem i {
  opacity: 0.8;
  float: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.fullcontent .mainmenu .menu-items .menuitem .menu-title {
  font-size: 90%;
  opacity: 0.5;
  margin: 0;
  text-align: center;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.fullcontent .mainmenu .menu-items .menuitem:hover i {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.fullcontent .mainmenu .menu-items .menuitem.active i,
.fullcontent .mainmenu .menu-items .menuitem.active .menu-title {
  text-shadow: none;
}
.fullcontent .mainmenu .menucenter {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  margin: 30px 0;
  float: left;
  width: 100%;
  text-align: center;
  height: auto;
}
.fullcontent .mainmenu .menucenter .logo-container {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.fullcontent .mainmenu .menucenter .logo-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.fullcontent .mainmenu .menucenter .logo-container .logo {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  top: 50%;
  left: 50%;
  opacity: 1;
}
.fullcontent .mainmenu .menucenter .logo-container:hover .logo {
  opacity: 0;
}
.fullcontent .mainmenu .menucenter .logo-container:hover .photo {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.fullcontent .mainmenu #linecontainer {
  display: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.page {
  height: auto;
  display: inline-block;
  position: relative;
  width: 100%;
}
.page .wrapper {
  display: inline-block;
  position: relative;
  height: auto !important;
  overflow: visible;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 1;
}
.page .wrapper .table {
  height: auto;
}
.page .wrapper .table .table-cell {
  padding: 20px;
}
.page .wrapper .table .table-cell .container {
  float: left;
  display: inline-block;
  color: #fff;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.page .wrapper.active {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
}
.skill {
  margin: 1em auto;
  float: none;
  text-align: center;
}
.skill .bar .bar-container .progress {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.contacts .input-icon {
  width: 48%;
  margin: 0 1%;
  float: left;
}
.contacts textarea {
  margin-top: 1em;
  width: 100%;
  height: 175px;
  font-size: 90%;
}
.contacts a.social {
  float: left;
  margin: 0 10px 0 0;
}
.portfolio {
  position: relative;
  text-align: center;
}
.portfolio .all-items {
  overflow: hidden;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.portfolio .all-items .item {
  text-align: center;
  float: none;
  border-width: 2px;
  width: 33%;
}
.portfolio .all-items .item .overlay {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.portfolio .all-items .item .overlay .minibutton {
  float: left;
  margin: 10px;
  width: 40px;
  height: 40px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.portfolio .all-items .item .overlay .minibutton i {
  box-shadow: none;
  font-size: 24px;
  line-height: 40px;
}
.portfolio .all-items .item img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 110;
  border-radius: 4px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.portfolio .all-items .item:hover .overlay {
  opacity: 1;
}
.portfolio .all-items .item:hover .overlay .minibutton {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.portfolio .all-items .item:hover img {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
@media only screen and (max-width: 800px) {
  .portfolio .all-items .item {
    width: 48%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 540px) {
  .portfolio .all-items .item {
    width: 100%;
    max-width: 540px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-resolution: 144dpi) {
  #background {
    background: none;
  }
  body {
    background: url("../img/bg/mobile_%402X.png") repeat;
  }
}
